# WEEK3 
Segmenting and Clustering Neighborshoods in Toronto

Y H

For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

# PART1

Import libraries

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [2]:
#Read URL
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
soup = BeautifulSoup(source.text, 'lxml')

In [3]:
#Scrape the table through BeautifulSoup 
table = soup.find("table")
table_rows = table.tbody.find_all("tr")

data = []
columns = []

for tr in table_rows:
    td = tr.find_all("td")
    row = [tr.text for tr in td]
    
    if row != [] and row[1] != "Not assigned\n":
        if "Not assigned\n" in row[2]:
            row[2] = row[1]
        data.append(row)
df = pd.DataFrame(data, columns = ["PostalCode", "Borough", "Neighborhood"])
df.head(12)

,PostalCode,Borough,Neighborhood
0,M3A\n,North York\n,Parkwoods\n
1,M4A\n,North York\n,Victoria Village\n
2,M5A\n,Downtown Toronto\n,"Regent Park, Harbourfront\n"
3,M6A\n,North York\n,"Lawrence Manor, Lawrence Heights\n"
4,M7A\n,Downtown Toronto\n,"Queen's Park, Ontario Provincial Government\n"
5,M9A\n,Etobicoke\n,"Islington Avenue, Humber Valley Village\n"
6,M1B\n,Scarborough\n,"Malvern, Rouge\n"
7,M3B\n,North York\n,Don Mills\n
8,M4B\n,East York\n,"Parkview Hill, Woodbine Gardens\n"
9,M5B\n,Downtown Toronto\n,"Garden District, Ryerson\n"
10,M6B\n,North York\n,Glencairn\n
11,M9B\n,Etobicoke\n,"West Deane Park, Princess Gardens, Martin Grov..."

In [4]:
#replace the \n in dataframe 
df['PostalCode'] = df['PostalCode'].str.replace("\n", "")
df['Borough'] = df['Borough'].str.replace("\n", "")
df['Neighborhood'] = df['Neighborhood'].str.replace("\n", "")
df.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Check the data shape

In [5]:
df.shape

(103, 3)

# PART2

In [6]:
#install the geocoder
#pip install geocoder

Read the cvs file and convert it to a dataframe

In [7]:
url='http://cocl.us/Geospatial_data'
zipcode=pd.read_csv(url)
zipcode.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Rename the zipcode dataframe

In [8]:
zipcode.columns = ['PostalCode','Latitude','Longitude']
zipcode

    PostalCode   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
..         ...        ...        ...
98         M9N  43.706876 -79.518188
99         M9P  43.696319 -79.532242
100        M9R  43.688905 -79.554724
101        M9V  43.739416 -79.588437
102        M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [9]:
neighborhoods=pd.merge(df,zipcode, how='right', on ='PostalCode')
neighborhoods.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [10]:
neighborhoods.shape

(103, 5)

In [11]:
#Covert the dataframes we create here to csv so we can use it in part 3
neighborhoods.to_csv('neighborhoods.csv')